extends layout

block content
  h1= title
  //- p Welcome to #{title}
  #{title}
  p Welcome to #{title}
  ul
    li.first
      a(href='#{select}') getUser
    li
      #{title}
    li.last
      #{title}
