extends layout

block content
 h1= title
 p 
  a(href="/add") add
 table
  tr
    th
      | id
    th
      | username
    th
      | password
    th
      | role
    th
      | age
    th
      | createdate
    th
      | operator
  each val,key in list
    tr
      td= val._id
      td= val.username
      td= val.password
      td= val.role
      td= val.age
      td= val.createdate
      td 
        a(href="/del?id="+val._id) del
  else
      td sorry, no data!

    